---
---
$page-gutter: 35px !default
$nib-unit: 5.2px

.nib-1_5
  font-size: 1.5 * $nib-unit / 1.5

.nib-2_4
  font-size: 2.4 * $nib-unit / 1.5

.nib-2_5
  font-size: 2.5 * $nib-unit / 1.5

.nib-3_0
  font-size: 3.0 * $nib-unit / 1.5

.nib-3_8
  font-size: 3.8 * $nib-unit / 1.5

.nib-6_0
  font-size: 6.0 * $nib-unit / 1.5

.height-6
  p
    height: 6em

.height-7
  p
    height: 7em

.x-3
  p:before
    bottom: 3em

.x-4
  p:before
    bottom: 4em

.x-5
  p:before
    bottom: 5em

.x-6
  p:before
    bottom: 6em

html
  margin: 0
  padding: 0

body
  margin: 0
  padding: $page-gutter $page-gutter 0

p
  border-top: 1px solid black
  border-bottom: 1px solid black
  margin: 0
  position: relative

// x-height line
p:before
  border-top: 1px dashed black
  content: " "
  display: block
  position: absolute
  width: 100%


// site structure
/////////////////

input[type=number]
  width: 3em

.ui
  background: rgba(powderblue, 0.8)
  color: #111
  font-size: 1rem
  font-family: sans-serif
  opacity: 0.9
  padding: 0.4rem
  position: fixed
  top: $page-gutter * 0.75
  z-index: 1

header.ui
  left: $page-gutter * 0.75

@media only print
  .no-print
    display: none
