---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calligraphy Guidelines</title>
  </head>
  <body>
    <p>
      Print these out to use as guidelines for your calligraphy.
    </p>
    <h2>Pre-made Guides</h2>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>x-height</th>
          <th>cap height</th>
          <th>lines per page</th>
        </tr>
      </thead>
      <tbody>
        {% for p in site.pages %}
          {% if p.title %}
            <tr>
              <td>
                <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
              </td>
              <td>
                {{ p.x-height }}
              </td>
              <td>
                {{ p.cap-height }}
              </td>
              <td>
                {{ p.lines }}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <h2>Print Settings</h2>
    <dl>
      <dt>Paper size</dt>
      <dd>Letter</dd>
      <dt>Paper orientation</dt>
      <dd>Landscape</dd>
      <dt>Margins</dt>
      <dd>0</dd>
    </dl>

    <hr>
    <p>
      <small>
        <a href="https://github.com/crccheck/calligraphy-guides">Source</a>
      </small>
    </p>
  </body>
</html>
